# Secrets
*
!/**/
!*.*
*.crt
*.cer
*.ca-bundle
*.p7b
*.p7c
*.p7s
*.pem
*.key
*.keystore
*.jks
*.p12
*.pfx

# NPM
node_modules
.npm

# Output
logs
coverage
dist
out
lib

# Archives
*.tgz
*.tar
*.tar.gz
*.zip

# Common
.vscode
.DS_Store
.env
.env.*
*.log
*.out
*.lock
